<a href="https://colab.research.google.com/github/teang1995/jump2python/blob/master/jump2python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**객체와 인스턴스의 차이**

In [0]:
'''
클래스를 만든 객체를 인스턴스라고 한다.
객체와 인스턴스의 차이는?
객체 : a는 객체이다.
인스턴스 : a는 cookie의 인스턴스이다.
'''

**eval 사용법**

In [0]:
eval("1+2")

3

**map사용법**

In [0]:
def twice(x):
  return 2*x
#입력으로 반복가능한 자료형을 받고., 출력으로 묶어서 돌려줌
list(map(twice,[1,2,3,4]))

[2, 4, 6, 8]

**5-1**

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
  def minus(self,val):
    self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력

3

**5-2**

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
  def add(self,val):
    if self.value + val >= 100 :
      self.value = 100
    else :
      self.value += val

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

100

**5-3**

In [0]:
all([1, 2, abs(-3)-3])   #1,2,(3-3) 중 0이 있으므로 false
chr(ord('a')) == 'a'     #암튼 true

True

**5-4**

In [0]:
#filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.
a = [1,-2,3,-5,8,-3]
list(filter(lambda x:x>0,a))

<class 'filter'>

**5-6**

In [0]:
#map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.
a = [1,2,3,4]
list(map(lambda x:x*3,a))

[3, 6, 9, 12]

**5-7**

In [0]:
a=[-8, 2, 7, 5, -3, 5, 0, 1]
print(max(a))
print(min(a))

7
-8